<p id="notice"><%= notice %></p>
<div class="container howitworks">
  <% @spaces.each do |space| %>
  <div class="row cards">
    <div class="card">
    <div class="card col-xs-12 col-sm-4 col-sm-offset-1 box">
      <%= image_tag(space.images.first, class: "style-image card-img-top")%>
        <div class="card-block">
          <h4 class="card-title"><%= space.name %></h4>
          <p class="card-text"><%= space.description%></p>
          <%= space.bookings.each do |find| %>
          <%= find.worker.firstname %>
          <% end %>
          <button type="button" class="btn btn-default" style="margin-bottom: 50px;">
          <%= link_to('Book!', space) %>
          </button>
        </div>
    </div>
  </div>
    <% end %>
  </div>
<%= link_to 'New Space', new_space_path %>
