<nav class="navbar navbar-default mynav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a> <%=link_to('Workup', root_path, :class=>"navbar-brand")%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">How it works</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if worker_signed_in? || owner_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_worker_session_path, :method => :delete) %>
      </li>
      <% if worker_signed_in? %>
      <li>
        <%= link_to('Edit registration', edit_worker_registration_path) %>
     </li>
     <% else %>
      <%= link_to 'Create a space!', new_space_path, class: "btn btn-primary" %>
      <%= link_to('Edit registration', edit_owner_registration_path) %>
     <% end %>
        <% else %>
          <li>
          <%= link_to('Login', login_path)  %>
          </li>

          <li>
     <%= link_to('Register', signup_path)  %>
     </li>
    <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
