<p id="notice"><%= notice %></p>

<p>
  <strong>Space:</strong>
  <%= @booking.space %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @booking.worker %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
